In [8]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [13]:
movies_csv = "movies_metadata.csv"
movies_metadata_df = pd.read_csv(movies_csv,low_memory=False)
import pymysql
pymysql.install_as_MySQLdb()

In [14]:
# read movies file
movies_df = pd.read_csv(movies_csv,low_memory=False)
movies_dataprep = movies_df[[  'id',  'imdb_id', 'revenue']].copy()

In [15]:
## typecast to int for merging
movies_dataprep.head()
Movies_Finance_df=movies_dataprep.rename(columns={"id":"movie_id", "imdb_id ":"imdb_id ",'revenue':'Revenue' })
Movies_Finance_df.head()
Movies_Finance_df.describe()
Movies_Finance_df=Movies_Finance_df.drop_duplicates()

Movies_Finance_df.describe()

            Revenue
count  4.543000e+04
mean   1.121288e+07
std    6.435213e+07
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    2.787965e+09

In [16]:
Movies_Finance_df=Movies_Finance_df.dropna()

In [19]:
rds_connection_string = "root:143Shambhu@127.0.0.1/movies_database"
engine = create_engine(f'mysql://{rds_connection_string}')

In [20]:
Movies_Finance_df.to_sql(name='movies_finance', con=engine, if_exists='append', index=False)